@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

* {
  font-family: "Roboto", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

#root {
  background-color: #1d1b27;
}

@theme {
  --color-primary: #4b2ed3;
  --color-light: #ffffff;
  --color-light_c: #e7e4f3;
  --color-dark: #1d1b27;
  --color-dark_c: #2a2738;
  --color-light_c_2: #efeef3;
  --color-light_c_3: #f7f6f9;
  --color-dark_c_2: #3d3850;
}
